.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin-top: 25px;
  margin-left: 30px;
  width: 800px;
  height: 200px;
  border-collapse: collapse;
  position: static;
}

  
th {
  border-bottom: 2px solid darkslategray;
  font-weight: normal;
  text-align: left;
  color:darkblue;
  font-size:16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-right: 10px;
}
  
td {
  text-align: left;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

td span{
  font-size: 8px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:darkgreen;
  text-decoration:dimgray underline;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

.poster {
  height: 40px;
  width: 45px;
  display:block;
}

img.poster:hover {
  transform: scale(2);
}

.modal{
  color: blue;
  border-width: 2px;
  border: rgb(161, 80, 80) 4px;
  border-radius: 2px;
  position: absolute;
  font-size: 12px;
  margin-bottom: 120px;
}

.search-box {
  display: flex;
  margin-left: 80px;
  margin-top: 25px;
}

#rating {
  font-family: cursive;
  font-weight: 900;
  font-size: 10px;
  text-decoration:aliceblue;
  color: black;
}

.checkbox-container {
  display: flex;
  margin-top: 20px;
  margin-left: 75px;
}