/* Main page (background & table */
body {
  background-color: beige;
  /* background-color: rgba(255, 166, 0, 0.199) */
}

table {
  margin-top: 25px;
  margin-left: 30px;
  width: auto;
  height: auto;
  border-collapse: separate;
  border-bottom: 2px solid darkslategray;
}

th {
  border-bottom: 2px solid darkslategray;
  font-weight: normal;
  text-indent: 1em;
  color: rgb(39, 4, 4);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 2em;
}

td {
  text-align: left;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  font-size: 11px;
  font-weight: 650;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

td span {
  font-size: 9px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(19, 75, 67);
}

tr:nth-child(even) {
  background-color: lightgrey;
}

.table-header {
  cursor: pointer;
}

/* Poster image classes */
.poster {
  height: 3em;
  width: 3em;
  display: block;
}

.modal-poster {
  position: relative;
  top: 4px;
  width: 10em;
  height: 14em;
}

img.poster:hover {
  transform: scale(1.35);
}

/* modal */
.modal {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.705);
  position: absolute;
  padding-right: 9em;
  border: double 10px transparent;
  border-radius: 15px;
  background-image: linear-gradient(rgba(109, 87, 168, 0.5), rgba(109, 87, 168, 0.5)), radial-gradient(circle at top left, rgb(85, 115, 252),#8a1c1c);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.modal-stuff{
  position: absolute;
  font-family:monospace;
  right: 0;
  top: 0;
  font-size: 20px;
  max-inline-size: 14em;
  color: beige;
  line-break: auto;
}

.plot {
  font-size:14px;
}

/* SearchTerm and paginator */

.search-box {
  display: flex;
  margin-left: 80px;
  margin-top: 25px;
  color: rgb(32, 32, 32);
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

#rating {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 12px;
  text-decoration: aliceblue;
  color: black;
}

.checkbox-container {
  display: flex;
  color: rgb(32, 32, 32);
  margin-top: 20px;
  gap: 1em;
  margin-left: 75px;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
}

.page:hover {
  color: rgb(141, 19, 19);
}
.page {
  user-select: none;
  cursor: pointer;
  word-spacing: 0.1em;
  font-family: "Courier New", Courier, monospace;
}
.selected-page {
  user-select: none;
  color: rgb(66, 144, 247);
}
.pages {
  display: flex;
  margin-left: 2em;
}

.change-page {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 16px;
  user-select: none;
  position: absolute;
  left: 20em;
  top: 4.05em;
}

.change-page:hover {
  color: rgb(141, 19, 19);
  cursor: pointer;
}