.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(185, 185, 166);
}

table {
  margin-top: 25px;
  margin-left: 30px;
  width: auto;
  height: auto;
  border-collapse:separate;
  border-bottom: 2px solid darkslategray;
}

  
th {
  border-bottom: 2px solid darkslategray;
  font-weight: normal;
  text-indent:1em;
  color:rgb(39, 4, 4);
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  padding-right: 2em;
}
  
td {
  text-align: left;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;
  font-size: 11px;
  font-weight: 650;
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

td span{
  font-size: 9px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(19, 75, 67);
}

tr:nth-child(even) {
  background-color:lightgrey;
}

.poster {
  height: 3em;
  width: 3em;
  display:block;
}

img.poster:hover {
  transform: scale(1.35);
}

.modal{
  color: blue;
  border-width: 2px;
  border: rgb(161, 80, 80) 4px;
  border-radius: 2px;
  position: absolute;
  font-size: 12px;
  padding-left: 40px;
  top: 200px;
}

.search-box {
  display: flex;
  margin-left: 80px;
  margin-top: 25px;
  color: rgb(32, 32, 32);
  font-size: 18px;
  font-family:'Times New Roman', Times, serif;
}

#rating {
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 12px;
  text-decoration:aliceblue;
  color: black;
}

.checkbox-container {
  display: flex;
  color: rgb(32, 32, 32);
  margin-top: 20px;
  gap: 1em;
  margin-left: 75px;
  font-weight: 800;
  font-family:'Times New Roman', Times, serif;
}

.pages {
  display: flex;
  margin-left: 2em;
}

page:hover {
  color: rgb(141, 19, 19);
}